nav{
  background:#252525;
  font-size:14px; 
  color:#868686; 
  font-family:arial;
  padding:1.5em;
}
nav ul {
    display:inline-block
}
nav li:hover {
    background: #141414;
    color:#ffffff;
}
li{
  /*background:#57b157;*/
  font-size:16px;
  font-family:Arial;
  /*color:#ffffff;*/
  margin:0px 0.5em 0px 0.5em;
  padding:0.5em;
  list-style:none;
  display:inline-block;
}
.principal article{
  padding:1em 2em 1em 2em;
  background:#eeeeee;
}
footer{
    border-top: 2px solid #eeeeee;
    padding: 1em 2em;
}
nav header{
  font-size:16px; 
  font-family:arial;
  color:#868686;
  display:inline-block;
}
h1{
  font-size:42px;
  font-family:arial;
}
#p{
  font-size:18px;
  font-family:arial;
}
aside article header{
  font-size:24px;
  font-family:arial;
  padding-bottom:0.5em;
}
aside article p{
  font-size:16px;
  font-family:arial;
}
a:link   
{   
 text-decoration:none;   
} 
section article header{
  padding:0.5em;
}
aside article{
  padding:1em 2em 1em 2em;
}
.secundaria article {
    display: inline-block;
    width: 33%;
}

input {
    background-color: #57b157;
    border: none;
    font: 16px Arial;
    color: #ffffff;
    margin: 0.5em 0em;
    padding: 0.5em;
}